.container {
  @apply min-h-screen bg-blue-50 relative overflow-hidden;

  &::before {
    @apply content-[''] absolute top-0 left-0 right-0 h-40 bg-blue-100 lg:hidden;
    background-image: url('/assets/img/banner/auth.svg');
    background-position: center 10%;
    background-repeat: no-repeat;
    background-size: 200px;
    opacity: 0.4;
  }
}

.authLayout {
  @apply min-h-screen flex flex-col lg:flex-row items-center justify-center p-4 pt-16 sm:p-6 sm:pt-20 lg:p-6 relative z-10;

  &__banner {
    @apply hidden lg:block lg:w-[60%] p-4;

    &__image {
      @apply mx-auto;
    }

    &__content {
      @apply text-center mt-8;

      .bannerTitle {
        @apply text-xl font-semibold text-neutral-700 mb-1;
      }

      .bannerDescription {
        @apply text-sm text-neutral-500;
      }
    }
  }

  &__formContainer {
    @apply w-full lg:w-[40%] bg-white rounded-2xl p-6 sm:p-10 lg:p-16 !text-gray-900 shadow-md flex items-center justify-center relative;

    .form {
      @apply flex flex-col justify-center mx-auto w-full;

      &__tag {
        @apply text-white text-center bg-blue-600 text-2xl sm:text-3xl font-semibold rounded-lg px-4 py-1 leading-tight w-fit mx-auto mb-2 sm:mb-2;
      }

      &__title {
        @apply text-2xl sm:text-3xl font-bold py-2 sm:py-4 text-blue-500 text-center;
      }

      &__link {
        @apply text-center text-sm text-gray-600 mt-4;

        .link {
          @apply text-indigo-600 hover:underline font-medium;
        }
      }

      &__footer {
        @apply text-center text-sm text-gray-500 mt-8 lg:absolute lg:bottom-4 lg:right-6 lg:left-6 flex flex-col sm:flex-row items-center justify-between gap-2;

        .copyright {
          @apply text-blue-700 hover:underline;
        }

        .support {
          @apply flex gap-2;

          a {
            @apply text-blue-700 hover:underline flex flex-row-reverse items-center gap-1;
            svg {
              @apply inline-block ml-1 -mb-1;
            }
          }
        }
      }
    }
  }
}
